@import url('https://fonts.googleapis.com/css?family=Aguafina+Script&subset=latin-ext');

.App {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 90vh;
}

h1 {
  font-family: Aguafina Script;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  color: midnightblue;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
